/* ----------------------------- cart styling -------------------- */

/** image at left. */
ul .product-thumbnail {
	height: 225px;
	width: 300px;
	display: inline-block;
}
ul .product-thumbnail img {
	max-width: none;
	height: 100%;
	width: 100%;
	object-fit: contain;
	border: 1px solid #ebebeb;
}

/** item details at right. */
ul .cart-item-details {
	display: inline-block;
	vertical-align: top;
	margin-left: 24px;
	width: 100%;
}

/** no bullets on item list. */
ul.woocommerce-cart-form__contents {
	list-style: none;
	padding-left: 0;
}

/** wrapper: color, margin. */
li.woocommerce-cart-form__cart-item {
	display: flex;
	background-color: #fafafa;
	padding: 36px;
	padding-bottom: 24px;
	margin-bottom: 30px;
}

/** item details: no spacing between elements. */
ul .cart-item-details>* {
	margin: 0;
}

/** "update cart" on each item (right side). */
ul .product-quantity .quantity {
	display: inline-block;
}
ul .product-quantity button {
	float: right;
}

/** cart totals: fixed at right with "sticky". */
#wrap_all { /** parents need to be "overflow: visible". */
	overflow: visible;
}
.woocommerce { /** wrapper needs to be flex. */
	max-width: none !important;
}
.cart-collaterals { /** "sticky". */
	position: sticky;
	display: inline-block;
	vertical-align: top;
	top: 0;
	width: 400px !important;
}
.cart_totals { /** cart totals width. */
	width: 100% !important;
    display: flex;
    align-items: center;
    flex-direction: column;
}
p.woocommerce-shipping-destination{
	display:flex;
	flex-direction: row;
    justify-content: space-between;
}
a.shipping-calculator-button{
	color: blue;
    text-decoration: underline;
}
.shop_table shop_table_responsive {
	width: auto ;
}

.woocommerce-cart-form { /** items width. */
	width: auto;
	padding-right: 35px;
}
#containerCart{
    background-color: #f3f3f3;
    max-width: 1000px;
    margin-left: 25%;
    margin-right: 25%
}
@media only screen and (max-width: 1000px) {
#containerCart{
	background-color: #f3f3f3;
    min-width: 400px;
    margin: 0;
}
}
/**köp knapp cart */
a.checkout-button.button.alt.wc-forward{
 	color: #fff;
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-align: center !important;
    text-decoration: none;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.product-thumbnail{
	width: 175px; 
	height: 175px; 
	display: inline-block; 
	padding-right: 2px; 
	vertical-align: middle;
}
.product-remove {
	width: 0.1em;
}

.woocommerce button[name="update_cart"],
.woocommerce input[name="update_cart"] {
	display: none;
}
/* removes banner when removing a cart item */
.woocommerce-notices-wrapper{
display:none;
}
.product-subtotal{
	display: none;
}

