/* ------------------ shop single product --------------- */
<<<<<<< HEAD
#body
{
text-align: center;
}
#main
{
text-align: center;
}
.product_meta {
    display: none;
}
=======
>>>>>>> parent of aead95b (Style)
