* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0px;
}

.text {
  color: #222;
}

.textWhite {
  color: white;
}

.deep-black {
  background-color: #222;
}

.meny ul,
a {
  text-decoration: none;
  color: #222;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* hero section */
#heroSection {
  width: 100vw;
  height: 75vh;
}

#heroSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgFit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-fullScreen {
  height: 85vh;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.itemContainerOne {
  flex-grow: 5;
}

.itemContainerTwo {
  flex-grow: 4;
}

.itemContainerSmall {
  width: 365px;
  height: 300px;
}

.itemContainerMedium {
  width: 732px;
  height: 644px;
  padding-right: 15px;
}

.sideSection {
  display: flex;
  flex-direction: column;
  height: 644px;
  justify-content: space-between;
}

.homeLink {
  width: 150px;
}

.btnHover:hover {
  background-color: #222;
  color: white;
}

.btnHover a:hover {
  color: white;
}

.menu li a {
  padding: 8px;
  border-radius: 9999px;
}

.menu li a:hover {
  color: white;
  background-color: #222;
}

.wp-block-button__link:hover {
  color: #222;
  background-color: white;
}

.heroButton {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 73vh;
  left: 50%;
  background-color: white;
  color: #222;
  border: none;
  border-radius: 9999px;
  transform: translate(-50%, -50%);
}

.heroButton h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-lg-6 h1,
p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wc-block-grid__products {
  justify-content: center;
}

.burger-container {
  position: absolute;
  height: 60.44px;
  right: 5%;
  top: 0%;
  width: 70px;
  cursor: pointer;
}

#mobileMenu {
  position: absolute;
  right: 0%;
  top: 60px;
  background-color: white;
}

#mobileMenu ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  /*   padding: 40px; */
  flex-direction: column;
  padding: 0px;
}

#mobileMenu ul li {
  margin: 25px;
}

/* WooCommerce */

.products ul .columns-4 .type-product {
  display: none;
}
.woocommerce-result-count .woocommerce-ordering {
  display: none;
}

/* media queries */

@media only screen and (max-width: 666px) {
  .section-fullScreen {
    flex-direction: column;
    height: 120vh;
  }
  .itemContainerMedium {
    width: 365px;
    height: 300px;
  }
  .itemContainerMedium img {
    width: 365px;
  }
}

@media only screen and (max-width: 1000px) {
  .menu {
    display: none;
  }

  .burger-container {
    display: flex;
  }
}

@media only screen and (min-width: 1000px) {
  .burger-container {
    display: none;
  }
  #mobileMenu {
    display: none;
  }
}
