*{
    box-sizing: border-box;
<<<<<<< HEAD
=======
    font-family: "Montserrat",sans;
>>>>>>> parent of c525498 (delete)
}

body{
    margin: 0px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#heroSection {
    width: 100vw;
    height: 75vh;
    background-color: blue;
}