/* -------shop single product----- */
#body
{
text-align: center;
}
#main
{
text-align: center;
}
div.product_meta {
    display: none;
}
ul.tabs.wc-tabs{
	display:none;
}
div#tab-description.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab{
	display: flex;
    background-color: #FBF8F1;
    flex-direction: column;
    flex-wrap: wrap;
	margin-bottom: 3%;
    margin-top: 3%
}
h1.product_title.entry-title{
	font-weight: normal;
}
#content{
	overflow: hidden;
    background-color: #E9DAC1;
}